
<li>
    <a style="cursor: pointer; color: #3c3c3c">Mobile</a>
    <ul>
        <li><a href="{{ site.mobile-faq }}/index.html#capabilities"  class="otherLinkColour">Capabilities</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/index.html#scan-setting"  class="otherLinkColour">Scan Setting</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/index.html#configuration"  class="otherLinkColour">Configuration</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/index.html#debug"  class="otherLinkColour">Debug</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/index.html#cross-platform"  class="otherLinkColour">Cross-Platform</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/index.html#simulator"  class="otherLinkColour">Simulator</a>
        </li>
    </ul>
</li>
