<!-- <li><a href="{{ site.web-faq }}index.html" class="otherLinkColour">Web</a>
</li> --> 
<li>
    <a style="cursor: pointer; color: #3c3c3c">Web</a>
    <ul>
        <li><a href="{{ site.web-faq }}/camera/index.html" class="otherLinkColour">Camera</a>
        </li>
        <li><a href="{{ site.web-faq }}/capabilities/index.html" class="otherLinkColour">Capabilities</a>
        </li> 
        <li><a href="{{ site.web-faq }}/scan-setting/index.html" class="otherLinkColour">Scan Setting</a>
        </li> 
        <li><a href="{{ site.web-faq }}/configuration/index.html" class="otherLinkColour">Configuration</a>
        </li> 
        <li><a href="{{ site.web-faq }}/ui-customization/index.html" class="otherLinkColour">UI Customization</a>
        </li> 
        <li><a href="{{ site.web-faq }}/debug/index.html" class="otherLinkColour">Debug</a>
        </li> 
    </ul>
</li>