<!-- <li><a href="{{ site.mobile-faq }}/android/index.html" class="otherLinkColour">Android</a>
</li>
<li><a href="{{ site.mobile-faq }}/ios/index.html" class="otherLinkColour">iOS</a>
</li>
<li><a href="{{ site.mobile-faq }}/maui/index.html" class="otherLinkColour">Maui</a>
</li> -->

<li><a  class="otherLinkColour">Capabilities</a>
</li>
<li><a  class="otherLinkColour">Scan Setting</a>
</li>
<li><a  class="otherLinkColour">Configuration</a>
</li>
<li><a  class="otherLinkColour">Debug</a>
</li>
<li><a  class="otherLinkColour">Cross-Platform</a>
</li>
<li><a  class="otherLinkColour">Simulator</a>
</li>
