<!-- <li><a href="{{ site.web-faq }}index.html" class="otherLinkColour">Web</a>
</li> -->
<li>
    <a style="cursor: pointer; color: #3c3c3c">Web</a>
    <ul>
        <li>
            <a href="{{ site.web-faq }}/index.html#camera" class="otherLinkColour">Camera</a>
        </li>
        <li>
            <a href="{{ site.web-faq }}/capabilities/index.html#capabilities" class="otherLinkColour">Capabilities</a>
        </li>
        <li>
            <a href="{{ site.web-faq }}/scan-setting/index.html#scan-setting" class="otherLinkColour">Scan Setting</a>
        </li>
        <li>
            <a href="{{ site.web-faq }}/configuration/index.html#configuration"
                class="otherLinkColour">Configuration</a>
        </li>
        <li>
            <a href="{{ site.web-faq }}/ui-customization/index.html#ui-customization" class="otherLinkColour">UI
                Customization</a>
        </li>
    </ul>
</li>