<!-- <li><a href="{{ site.mobile-faq }}/android/index.html" class="otherLinkColour">Android</a>
</li>
<li><a href="{{ site.mobile-faq }}/ios/index.html" class="otherLinkColour">iOS</a>
</li>
<li><a href="{{ site.mobile-faq }}/maui/index.html" class="otherLinkColour">Maui</a>
</li> -->
<li>
    <a style="cursor: pointer; color: #3c3c3c">Mobile</a>
    <ul>
        <li><a href="{{ site.mobile-faq }}/capabilities/index.html"  class="otherLinkColour">Capabilities</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/scan-setting/index.html"  class="otherLinkColour">Scan Setting</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/configuration/index.html"  class="otherLinkColour">Configuration</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/debug/index.html"  class="otherLinkColour">Debug</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/cross-platform/index.html"  class="otherLinkColour">Cross-Platform</a>
        </li>
        <li><a href="{{ site.mobile-faq }}/simulator/index.html"  class="otherLinkColour">Simulator</a>
        </li>
    </ul>
</li>
